
{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}

    <div id="dashboard">
        <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a>
        {% include 'partials/dashboard_sidebar.html' %}
        <div class="utf_dashboard_content">
            <div class="row"> 
                <div class="col-lg-12 col-md-12">
                  <div class="utf_dashboard_list_box margin-top-0">
                    <h4 class="gray"><i class="fas fa-user"></i> Profile Details</h4>
                    <div class="utf_dashboard_list_box-static"> 
                      
                      <div class="my-profile">
                        {{u_form.errors}}
                        {{p_form.errors}}
         <!-- Profile form -->
<form class="row with-forms" method="POST" enctype="multipart/form-data" action="{% url 'dashboard:profile' %}">
  {% csrf_token %}

  <div class="col-md-12">
    <div class="edit-profile-photo">
      <img id="profile_image_preview"
           src="{{ profile.get_image_url }}"
           alt="Profile photo"
           style="width: 200px; height: 200px; object-fit: cover; border-radius: 8px;">
      <div class="photoUpload">
        <label for="{{ p_form.image.id_for_label }}" class="button">
          <h2>Upload Profile Picture<i class="fa fa-upload"></i></h2> 
        </label>
        <input type="file"
               name="{{ p_form.image.html_name }}"
               id="{{ p_form.image.id_for_label }}"
               accept="image/*"
               style="display:none;"
               onchange="previewProfileImage(event)">
        {{ p_form.image.errors }}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <label>Full Name</label>
    {{ p_form.full_name }}
  </div>
  
    <div class="col-md-6">
      <label class="text-white text-[20px]">Username</label>
      {{ u_form.username }}
    </div>

    <div class="col-md-6">
      <label class="text-white text-[20px]">Email</label>
      {{ u_form.email }}
    </div>
  
  <div class="col-md-4">
    <label >Phone Number</label>
    {{ p_form.phone }}
  </div>

  <div class="col-md-6">
    <button class="button preview btn_center_item margin-top-15" type="submit">
      Save Changes
    </button>
  </div>
</form>

                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

   <script>
      function previewProfileImage(event) {
        const reader = new FileReader();
        reader.onload = function() {
          const output = document.getElementById('profile_image_preview');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      }
</script>
{% endblock content %}
