<h2>Rental Agreement</h2>
<p>Date: {{ created_at|date:"F j, Y, g:i a" }}</p>
<p>Customer: {{ booking.full_name }}</p>
<p>Email: {{ booking.email }}</p>
<p>Phone: {{ booking.phone }}</p>
<p>Car Model: {{ booking.car.model }}</p>
<p>Booking ID: {{ booking.booking_id }}</p>
<p>Rental Dates: {{ check_in_date }} to {{ check_out_date }}</p>
<p>Pickup Location: {{ delivery }}</p>
<p>Total Days: {{total_days}}</p>

<h>VEHICLE RENTAL AGREEMENT</h3>
<p>
This Vehicle Rental Agreement ("Agreement") is entered into between Aspen Rent A Car LLC. ("Owner") and the undersigned renter ("Renter") <p>{{ booking.full_name }}</p>

By signing this Agreement, Renter agrees to the following terms:

1. Vehicle Use & Mileage

Vehicle may be used with unlimited mileage, within public roads only.

Off-road driving is strictly prohibited.

Smoking or vaping inside the vehicle is prohibited. A cleaning fee of $500 will be charged for any smoking-related odor or residue.

2. Rental Period & Return Policy

Vehicle must be returned no later than 30 minutes after the scheduled return time.

If the vehicle is returned later than this without prior approval, the $1000 security deposit will be forfeited.

Extensions must be requested and approved in writing or via text by the Owner.

3. Security Deposit

A $1000 refundable security deposit will be held at the start of the rental.

Deposit will be returned within 2-5 business days after vehicle inspection.

Deposit may be partially or fully withheld to cover:

Damages

Excessive cleaning

Missing fuel

Late return penalties

Tolls, tickets, or fines

4. Vehicle Condition

Vehicle must be returned in the same condition as received.

Renter is responsible for all damage occurring during the rental period, regardless of fault.

Renter agrees to report any accident or issue immediately to the Owner.

5. Fuel Policy

Vehicle must be returned with the same fuel level as at pickup.

If not, a refueling fee of $7 per gallon will be deducted from the deposit.

6. Insurance & Liability

Renter must have valid driver’s license and insurance.

Renter is fully responsible for any damages not covered by their insurance.

Owner is not liable for any personal belongings left in the vehicle.

7. Prohibited Use

Renter may NOT:

Allow unauthorized drivers to operate the vehicle.

Use the vehicle for racing, towing, delivery, or commercial use without written permission.

Drive under the influence of alcohol, drugs, or any illegal substances.

Violation of any prohibited use will result in immediate termination of the rental and loss of deposit.

8. Payment & Fees

All rental fees must be paid prior to pickup.

Any additional charges will be deducted from the deposit or billed separately.

9. Governing Law

This Agreement is governed by the laws of the State of Colorado.</p>

<h3>Customer Initials</h3>
<p>{{ initials }}</p>

<h3>Acknowledgement {{acknowledgment}}</h3>

<p>This agreement was acknowledged on {{ created_at|date:"F j, Y, g:i a" }} by {{ booking.full_name }}.</p>

<h1> Please download this PDF with images here. This images are taken before your trip, indicating state of the car. Please return in same condition.</h1>

{% if trip_images %}
  <h3>Trip images</h3>
  {% for image_url in trip_images %}
    <img src="{{ image_url }}" width="500" style="margin-bottom: 25px;">
  {% endfor %}
{% endif %}